.message-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  &-box {
    background-color: rgb(42, 45, 46);
    border-radius: 5px;
    border-color: rgb(48, 48, 48);
    border-style: solid;
    border-width: 1px;
    padding: 3px 5px;
    margin: 10px;
    max-width: 50vw;
    min-height: 32px;
    box-shadow: 0 0 10px black;
    font-size: 16px;
    line-height: 24px;
    label {
      word-break: break-all;
      font-size: 16px;
    }
  }
}
